<?xml version="1.0"?>
<launch>
    <arg name="file" default="$(find cartesian_planner)/script/example.pickle" />

    <node pkg="cartesian_planner" type="pickle_publisher.py" name="reference_publisher_node" output="screen" args="$(arg file)" />
    <node pkg="cartesian_planner" type="node" name="cartesian_planner_node" output="screen"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find cartesian_planner)/config/config.rviz"/> -->
</launch>